repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        args: [--fix]
        types: [python]
      - id: ruff-format
        types: [python]
  - repo: local
    hooks:
      - id: version-json
        name: update version.json
        entry: bash -c 'echo "{\"version\":\"$(git describe --tags --always)\"}" > version.json && git add version.json'
        language: system
        always_run: true
        pass_filenames: false
